.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  align-self: center;
  width: 180px;
  padding: 12px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #7340ca, #00e3c8);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 128, 128, 0.3);
  transition: all 0.3s ease;
}

.registerButton:hover {
  background-color: #bba942;
  transform: scale(1.05);
  color: black;
}

.registerLoginButton {
  align-self: center;
  width: 180px;
  padding: 12px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #698000, #d0470c);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 128, 128, 0.3);
  transition: all 0.1s ease;
}

.registerLoginButton:hover {
  background-color: #ff0a0a64;
  transform: scale(1.05);
  color: greenyellow;
}
